<h1>One second...</h1>
<script>
  var query = window.location.search;
  if (query) {
      if (query.startsWith('?')) {
          query = query.substring(1);
      }
      query = '&' + query;
  }
  window.location = "https://localhost:4443/index.html?route=f/shopify/ews" + query;
</script>
